@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
}

header {
	display: flex;

	background-color: hsl(204, 100%, 83%);
	height: 10%;
	padding: 10px;

	align-items: center;
	justify-content: center;
}

.flex {
	display: grid;
	grid-template-areas: "input output";

	justify-content: center;

	grid-template-columns: 75% 300px;

	height: 75%;
	margin: 3rem;
}

#wordInput {
	grid-area: input;

	resize: none;
	width: auto;
	padding: 20px;

	border-radius: 8px;

	font-family: Arial, Helvetica, sans-serif;
}

#counterCard {
	display: flex;

	flex-direction: column;
	gap: 25px;

	background-color: hsla(204, 91%, 83%, 0.637);
	padding: 25px;
	margin-left: 30px;

	border-radius: 8px;
}


.counter h3 {
	font-size: 3em;
	grid-area: number;
}

.counter h2 {
	font-size: 2em;
	grid-area: txt;
}

.checkBox {
	grid-area: checkBox;
}

@media screen and (max-width: 1000px) {
	.flex {
		grid-template-areas:
			"output"
			"input";

		margin: 2rem;

		grid-template-columns: 100%;
		grid-template-rows: 25% 75%;
		height: 80%;
	}

	.counter h2 {
		margin: 0;

		width: 10px;
	}

	#charCounter h3 {
		grid-area: charCount;
	}

	#wordCounter h3 {
		grid-area: wordCount;
	}

	#wordCounter h2 {
		grid-area: wordCountTxt;
	}

	#charCounter h2 {
		grid-area: charCountTxt;
	}

	.checkBox {
		margin-top: 20px;
	}

	#counterCard {
		display: grid;
		grid-template-areas:
			"wordCount charCount"
			"wordCountTxt charCountTxt"
			"checkBox checkBox";

		grid-template-columns: 40% 40%;
		height: fit-content;
		gap: 0;
		margin-left: 0;
	}

	#wordInput {
		margin-top: 75px;
	}
}

@media screen and (max-width: 400px) {
	.counter h3 {
		font-size: 2.25em;
	}

	.counter h2 {
		font-size: 1.5em;
	}

	.checkBox label {
		font-size: 0.85em;
	}

	#wordInput {
		margin-top: 45px;
	}
}
